<div class="card mb-3 p-3">
  <div class="row g-0">
    <div class="col-9 col-md-11">
      <div class="card-body">
        <h5 class="card-title" [contentEditable]="editMode">
          {{ contact.name }}
        </h5>
        <p class="card-text">
          <small class="text-body-secondary" [contentEditable]="editMode">{{
            contact.phone
          }}</small>
        </p>
      </div>
    </div>
    <div class="col-3 col-md-1 d-flex">
      <img
        class="card-img- rounded-circle img-fluid"
        src="https://api.dicebear.com/7.x/adventurer/svg?seed=Abby"
        alt="avatar"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <button
        class="btn btn-outline-primary me-2"
        (click)="editMode = !editMode"
      >
        {{ editMode ? "Save" : "Edit" }}
      </button>
      <button
        class="btn btn-outline-danger"
        (click)="contactsService.deleteContact(contact.id)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
