<div class="card mb-3 p-3">
  <div class="row g-0">
    <div class="col-9 col-md-11">
      <div class="card-body">
        <h5 class="card-title">Person Name</h5>
        <p class="card-text">
          <small class="text-body-secondary">Person Number</small>
        </p>
      </div>
    </div>
    <div class="col-3 col-md-1 d-flex">
      <img
        class="card-img- rounded-circle img-fluid"
        src="https://api.dicebear.com/7.x/adventurer/svg?seed=Abby"
        alt="avatar"
      />
    </div>
  </div>
  <div class="row">
    <!-- edit and delete buttons -->
    <div class="col-12 d-flex justify-content-center">
      <button class="btn btn-outline-primary me-2">Edit</button>
      <button class="btn btn-outline-danger">Delete</button>
    </div>
  </div>
</div>
