* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin: 3rem;
}
.row {
  justify-content: space-between;
}
.show {
  animation: appear 0.3s 0.1s both;
}

.show ~ tr {
  animation: move 0.3s both;
}

th:nth-child(1) {
  width: 65%;
}
th:nth-child(2) {
  width: 15%;
}
td button {
  margin: 0 0.25rem;
  padding: 0 1rem;
}
.completed {
  text-decoration: line-through;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateY(-63px);
  }
  to {
    transform: none;
  }
}
