* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
tbody {
  font-weight: bold;
}
h1 {
  text-align: center;
  margin: 3rem;
}
.row {
  justify-content: space-between;
}
.show {
  animation: appear 0.3s both;
}

.remove {
  animation: appear 0.3s both reverse;
}

.show ~ tr {
  animation: move 0.3s both;
}
.remove ~ tr {
  animation: move 0.3s both reverse;
}

th:nth-child(1) {
  width: 65%;
}
th:nth-child(2) {
  width: 15%;
}
td button {
  margin: 0 0.25rem;
  padding: 0 1rem;
}
table input {
  margin: 0;
}
tr {
  position: relative;
  transition: transform 0.3s;
}
button {
  transition: all 0.3s;
}
.save {
  background-color: #60baaf;
  color: white;
  border: none;
  padding: 0 3rem;
  transform: translateY(-5rem);
  position: absolute;
  z-index: -1;
  opacity: 0;
  right: 11%;
}
.cancel {
  right: 2%;
  opacity: 0;
  transform: translateY(-5rem);
  z-index: -1;
  position: absolute;
  background-color: #ff7946;
  color: white;
  border: none;
  padding: 0 3rem;
}
.save:hover {
  background-color: white;
  color: #60baaf;
}
.cancel:hover {
  background-color: white;
  color: #ff7946;
}
tr.editable button {
  transform: translateY(5rem);
  z-index: -1;
  opacity: 0;
}
tr.editable .save {
  transform: none;

  z-index: auto;
  opacity: 1;
}
tr.editable .cancel {
  z-index: auto;
  transform: none;
  opacity: 1;
}
tr.editable {
  transform: translateY(-5px);
}
tr.editable > td {
  border-bottom: 1px solid #9b4dca;
  outline: none;
}
.completed {
  font-style: italic;
  font-weight: 300;
  text-decoration: line-through;
}
.tilt-left {
  animation: tilt-left 0.3s both;
}
.tilt-right {
  animation: tilt-right 0.3s both;
}

.moving {
  animation: move 0.3s both;
}

.start,
.start ~ tr:not(.end ~ tr) {
  animation: move 0.3s both;
}
.end,
.end ~ tr:not(.start ~ tr) {
  animation: move2 0.3s both;
}
@keyframes move2 {
  from {
    transform: translateY(63px);
  }
  to {
    transform: none;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateY(calc(var(--diff, -1) * 63px));
  }
  to {
    transform: none;
  }
}
@keyframes tilt-left {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: none;
  }
}
@keyframes tilt-right {
  from {
    transform: translateX(10px);
  }
  to {
    transform: none;
  }
}
