* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font: inherit;
  color: inherit;
}

.extra-header,
.categories,
.secondary-nav,
.primary-nav,
.main-header .primary-actions {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown .menu {
  display: none;
  position: absolute;
}

.dropdown button:hover + .menu {
  display: block;
}

nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.secondary-actions,
.primary-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.secondary-header {
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  display: flex;
  background-color: #f5f5f5;
}

.main-header {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: flex-start;
  background-color: #3d464d;
}
.main-header .primary-actions,
.main-header .bars {
  margin-left: auto;
}
.main-header > * {
  margin: 1rem 0;
}

.extra-header {
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 0 1rem;
}

@media screen and (min-width: 992px) {
  body {
    background-color: beige;
  }
  .secondary-nav,
  .categories {
    display: block;
  }
  .secondary-header .primary-actions,
  .main-header h1,
  .main-header .bars {
    display: none;
  }
  .main-header .primary-actions,
  .main-header .primary-nav {
    display: flex;
  }
  .secondary-header {
    justify-content: space-between;
  }
  .extra-header {
    display: flex;
  }
}
